<a href="https://colab.research.google.com/github/Amey-Thakur/PYTHON-CRASH-COURSE/blob/main/PYTHON_CRASH_COURSE_DAY_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 6**

**Pandas**

A python library to deal with sequential and tabular data.


It has two type of data structures:

1. **Series**  It is one dimensional labelled array capable of holding data of type(int, string, float, objects).

The axis labels are collectively called as index. Python Series is nothing but a column in excel sheet.

In [1]:
#lets create pandas series
#import the libraries
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series(dtype=object)
print(ser, type(ser))

Series([], dtype: object) <class 'pandas.core.series.Series'>

In [3]:
#lets create a series from an array
data = np.array(['m','a','c','i','n','e'])
pd.Series(data)

0    m
1    a
2    c
3    i
4    n
5    e
dtype: object

In [4]:
#lets create a series with list
lst = ['Python',3.9, 7*9, 8/4, 5>7]
pd.Series(lst)

0    Python
1       3.9
2        63
3         2
4     False
dtype: object

In [5]:
#lets create series from dictionary
dc = {'a':1, 'b':2, 'c':3}
ds = pd.Series(dc)
print(ds)

a    1
b    2
c    3
dtype: int64

In [6]:
#lets create series using random numbers
n = pd.Series(np.random.randn(5))
print(n)

0    0.302567
1   -0.428212
2    1.352207
3   -1.106298
4    0.637708
dtype: float64

In [7]:
#Accessing the elements in Series
#via position
#via index


#via Position
s = pd.Series(data)

In [8]:
print(s[:5])

0    m
1    a
2    c
3    i
4    n
dtype: object

In [9]:
#via index
print(s[5])

e

In [10]:
#lets explicitly sepcify the index
ser = pd.Series(data, index=range(10,16))
ser

10    m
11    a
12    c
13    i
14    n
15    e
dtype: object

In [11]:
#lets perform arithmetic operations on series
d = pd.Series([5,2,3,7], index=['a','b','c','d'])
d1 = pd.Series({'a':1, 'b':6, 'c':4, 'e':9})

print(d, "\n\n", d1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
c    4
e    9
dtype: int64

In [12]:
#lets perform addition
d.add(d1,fill_value=0)

a    6.0
b    8.0
c    7.0
d    7.0
e    9.0
dtype: float64

In [13]:
s1 = pd.Series(d1)
s2 = pd.Series([1,2,3,4])

In [14]:
s1 + s2

a   NaN
b   NaN
c   NaN
e   NaN
0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

2. **Pandas DataFrame**

Its a heterogeneous two dimensional objects, which stores data in rows and columns

In [15]:
#lets create an empty dataframe
df = pd.DataFrame()
print(df, type(df))

Empty DataFrame
Columns: []
Index: [] <class 'pandas.core.frame.DataFrame'>

In [16]:
s = pd.DataFrame(columns=['A','B','C','D','E'],index=range(1,6))
print(s)

     A    B    C    D    E
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN

In [17]:
#lets create dataframe with data
data = {
    'apples': [3,2,0,1],
    'oranges': [0,3,7,2]
}

In [18]:
purchase = pd.DataFrame(data)
print(purchase)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [19]:
#lets change the index value of the dataFrame
pur = pd.DataFrame(data, index=['June','Robert','Lily','David'])
print(pur)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [20]:
#lets create dataframe using datetime as index
arr = {
    'A':range(1,5),
    'B':range(5,9)
}

index = pd.DatetimeIndex(['2021-07-01','2021-07-02','2021-07-03','2021-07-04'])

In [21]:
pd.DataFrame(arr, index=index)

            A  B
2021-07-01  1  5
2021-07-02  2  6
2021-07-03  3  7
2021-07-04  4  8

In [22]:
#task: create a dataframe of random numbers with 10 rows and columns as A,B,C,D
ar = {
  'A':np.random.randn(10),
  'B':np.random.randn(10),
  'C':np.random.randn(10),
  'D':np.random.randn(10),
  'E':np.random.randn(10)
}
a = pd.DataFrame(ar)

In [23]:
a

          A         B         C         D         E
0  0.582668 -1.713776 -0.026336  0.168062 -0.475632
1 -0.793331  0.567254 -0.944674  0.387200 -0.457768
2  1.407249  1.718384  3.092457 -0.174324 -0.602785
3  0.226723  0.785757 -1.127369 -0.254307  2.535604
4 -0.675404 -0.013164  1.633522  0.154542 -2.048645
5  0.965967  0.167427 -1.300763  0.333071 -0.965078
6 -1.329815 -0.810670 -0.108102 -0.051474  0.205710
7  1.301029 -0.150165  0.567228 -1.636924 -1.380518
8 -1.175716 -0.533019  1.268164 -0.016509 -0.387946
9  1.976448  0.804445 -1.053809  0.938446  1.088579

**Project:**

**Movie Recomender System**

A pandas based movie recommender system to recomend good or bad movies.

In [24]:
#lets load the file into dataset as variable
movies_df = pd.read_csv('/content/IMDB-Movie-Data.csv', index_col='Title')

In [25]:
#use head to view whats in dataset
movies_df.head(10)

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
The Great Wall              6  ...      42.0
La La Land                  7  ...      93.0
Mindhorn                    8  ...      71.0
The Lost City of Z          9  ...      78.0
Passengers                 10  ...      41.0

[10 rows x 11 columns]

In [26]:
#lets print the shape of the dataset
movies_df.shape

(1000, 11)

In [27]:
#lets get the information about our dataset
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [28]:
#Lets handle duplicate entries
tmp_df = movies_df.append(movies_df)
tmp_df.shape

(2000, 11)

In [29]:
#lets drop the duplicates
temp_df = tmp_df.drop_duplicates()
temp_df.shape

(1000, 11)

In [30]:
tmp_new_df = temp_df.append(temp_df)

In [31]:
tmp_new_df.drop_duplicates(inplace=True)
tmp_new_df.shape

(1000, 11)

drop_duplicates(keep=[first,last,fasle])

first: (default) Drops duplicates except for the first occurence

last: Drops duplicates except for the last occurence

fasle: Drops all duplicates

In [32]:
tmp_new_df = temp_df.append(temp_df)

In [33]:
tmp_new_df.drop_duplicates(inplace = True, keep=False)
tmp_new_df.shape

(0, 11)

In [34]:
#Column Cleanup
#lets print the column names
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [35]:
#lets rename our runtime and revenue columns
movies_df.rename(columns={
    'Runtime (Minutes)':'Runtime',
    'Revenue (Millions)':'Revenue'
},inplace=True)

In [36]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [37]:
#task: rename all the column names with lower case
movies_df.columns = [col.lower() for col in movies_df]
movies_df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')