<a href="https://colab.research.google.com/github/Amey-Thakur/PYTHON-CRASH-COURSE/blob/main/PYTHON_CRASH_COURSE_DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 3**

**Python Keywords**

Keywords are reserved words in Python.They are built into core language. They cannot be used as a variable name, class name, function name, or any other identifier. These keywords are used to define the syntax and semantics of the Python.

In [1]:
#and: This is a logical operator used to combine conditional statements and returns true 
#if both statements are true, else false otherwise
 
(5>3) and (4>2)

True

In [2]:
(5<3) and (4>2)

False

In [3]:
#as: This is used to create an alias
import calendar as cal

cal.isleap(2021)

False

In [4]:
cal.isleap(2020)

True

In [5]:
#assert: It is used while debugging code. It allows us to check if a condition in code returns 
#True, if not Python will raise an assertion error.

stock = 'GOOG'

In [6]:
assert stock == 'GOOG'

**Operators in Python**

Operators are used to perform operations on variables and values.


**List of Operators**

1. **Arithmetic Operators** These operators are used with numerical values to perform common mathematical operations

In [7]:
#+: This is an addition operator used to perform the addition between the values.
5+3

8

In [8]:
#task: perform -,*,/,%,**

In [9]:
#floor division
27//4

6

**2. Comparison Operator**

Comparison Operators are used to compare two or more values or operands. It works well with almost all the data types in Python and returns either True or False

In [10]:
#lets define some variables
a = 5
b = 3
x = 5
y = 8

In [11]:
#==: This will check whether the two operands are equal or not
a == x

True

In [12]:
b == y

False

In [13]:
#task: perform !=, <, >, <=, >=

**3. Logical Operators**

Logical Operators are used to compare two or more conditional statements or expressions and returns the boolean reult.

In [14]:
#and: This operator compares multiple conditional statements and returns
#True, if all the statements are true, else false

5 == 5 and 3 < 5

True

In [15]:
#task: or, not
3 > 5 or 5 < 8

True

In [16]:
not 3 == 3

False

**4. Assignment Operator**

These operators are used to assign values to the operands or variables

In [17]:
#=: This will assign the value on its right side to the operand on its left
a = 5
b = 3

In [18]:
#+=: This operator adds to the operand on the right side with the operand on the left
#and assigns the result back to same operand on the left side
a += 2
a

7

In [19]:
#task: -=, *=, /+, %=, **=, //=

**5. Membership Operator**

This operator is used to check whether the value/variable exists in the sequence/data structure or not

In [20]:
#in: This operator return True if a value exists in the sequence else False
stock_list = ['YHOO','NVDA','NFLX','MSFT','MNTRA']

In [21]:
'MSFT' in stock_list

True

In [22]:
'GOOG' in stock_list

False

In [23]:
#not in: This is the negation of in operator
'HP' not in stock_list

True

**Control Flow Statement**

A program's control flow is the order in which the program's code get executed.

1. Conditional Statement
2. Loops


1. **Conditional Statement**

THe code which gets executed only when a given condition is met or True

1. if statement
2. elif statement
3. else statement

**if statement**  The if statement is used when we want a code to be executed under certain conditions. It can be either a single or multiple conditions.

x = int(input('Enter the first number \n'))
y = int(input('Enter the second number \n'))

if(x > y):
  print('X is greater')

print('Y is greater')

**elif**  This statement checks for new condition and executes the code if they are held true after the conditions evaluated by previous if statements weren't true

In [24]:
x = int(input('Enter the first number \n'))
y = int(input('Enter the second number \n'))
z = int(input('Enter the third number \n'))

if(x > y and x > z):
  print('X is greater')
elif(y>z):
  print('Y is greater')

print('I am printing from oustide the conditions')

Enter the first number
12
Enter the second number
20
Enter the third number
32
I am printing from oustide the conditions

**else statement**

This statement can be considered as the final part of the conditional statements. It doesn't evaluate any conditons. When defined it just executes the code within its block if all the conditions defined by the if and elif statements were false.

In [25]:
x = int(input('Enter the first number \n'))
y = int(input('Enter the second number \n'))
z = int(input('Enter the third number \n'))

if(x > y and x > z):
  print('X is greater')
elif(y>z):
  print('Y is greater')
else:
  print('Z is greater')

Enter the first number
12
Enter the second number
20
Enter the third number
32
Z is greater

**Loops**

Statements that keep executing within a given a range or until a condition is met

**1. while statement**

The while statement in python is used to repeat execution of code or block of code that is controlled by an conditional expression

syn: while(condn expr):

st1,

st2,

..,
...,
...,
stn

In [26]:
dp = 6
count = 0

while(count != dp):
  print("Count = ",count)
  count += 1

Count =  0
Count =  1
Count =  2
Count =  3
Count =  4
Count =  5

In [27]:
#using while with else
dp = 6
count = 0

while(count != dp):
  print("Count = ",count)
  count += 1
else:
  print('Loop is over')

Count =  0
Count =  1
Count =  2
Count =  3
Count =  4
Count =  5
Loop is over

In [28]:
#Task: print all prime numbers between 0-100 using while loop
num = 1
while(num <= 100):
  count = 0
  i = 2

  while(i <= num//2):
    if(num % i == 0):
      count += 1
      break
    i += 1

  if(count == 0 and num != 1):
    print("%d" %num, end = ' ')
  num = num + 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

**for statement**

The for statement in python is another looping technique which iterates over a sequence of objects

In [29]:
ds = 'Data Science'
for d in ds:
  print('The word is :', d)

The word is : D
The word is : a
The word is : t
The word is : a
The word is :
The word is : S
The word is : c
The word is : i
The word is : e
The word is : n
The word is : c
The word is : e

In [30]:
players = ['Dhoni','Sachin Tendulkar','Virat Kohli','Watson','Hitman','Shikhar dhawan', 'Chahal','Warner']
for player in players:
  print('Favourite Player is :', player)

Favourite Player is : Dhoni
Favourite Player is : Sachin Tendulkar
Favourite Player is : Virat Kohli
Favourite Player is : Watson
Favourite Player is : Hitman
Favourite Player is : Shikhar dhawan
Favourite Player is : Chahal
Favourite Player is : Warner

In [31]:
#iterating over dictionaries
d = {
    'AAPL': 193.53,
     'HP': 24.16,
     'MSFT': 1164.94,
     'GOOG':1061.49
}

In [32]:
for key, val in d.items():
  print('Price of {0} is {1}!'.format(key, val))

Price of AAPL is 193.53!
Price of HP is 24.16!
Price of MSFT is 1164.94!
Price of GOOG is 1061.49!

**range function**

Range function is used to generate sequences or arithmetic progression which can be combined with for loop to repeat the code

the default starting is 0, default increment is 1 and ends with specified number

syn: range([start], stop-1,[step])

In [33]:
for i in range(5):
  print(i)

0
1
2
3
4

In [34]:
for i in range(1,50,3):
  print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [35]:
#printing multiplication table from 1 to 10
for i in range (1,11):
  print("Table of {0}".format(i))
  for j in range (1,11):
    print(i*j)

Table of 1
1
2
3
4
5
6
7
8
9
10
Table of 2
2
4
6
8
10
12
14
16
18
20
Table of 3
3
6
9
12
15
18
21
24
27
30
Table of 4
4
8
12
16
20
24
28
32
36
40
Table of 5
5
10
15
20
25
30
35
40
45
50
Table of 6
6
12
18
24
30
36
42
48
54
60
Table of 7
7
14
21
28
35
42
49
56
63
70
Table of 8
8
16
24
32
40
48
56
64
72
80
Table of 9
9
18
27
36
45
54
63
72
81
90
Table of 10
10
20
30
40
50
60
70
80
90
100

In [36]:
for i in range(1,11):
  print("Table of :",i)
  for j in range(1,11):
    print(i,'X',j,'=',i*j)

Table of : 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Table of : 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Table of : 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Table of : 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Table of : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Table of : 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Table of : 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Table of : 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Table of : 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Table of : 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [37]:
for table_val in range(1, 11):
  for multiplier in range(1,11):
    ans = table_val * multiplier
    print('{0} X {1} = {2}'.format(multiplier,table_val, ans), end= '\t')
  print()

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9	10 X 1 = 10
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18	10 X 2 = 20
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27	10 X 3 = 30
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36	10 X 4 = 40
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45	10 X 5 = 50
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54	10 X 6 = 60
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63	10 X 7 = 70
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72	10 X 8 = 80
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81	10 X 9 = 90
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50	6 X 10 = 60	7 X 10 = 70	8 X 10 = 80	9 X 10 = 90	10 X 10 = 100